body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.line { 
    stroke: steelblue;
    stroke-width: 1.5;
    fill: none;
}
.line-green { 
  stroke: green;
  stroke-width: 1.5;
  fill: none;
}
.line-red { 
  stroke: red;
  stroke-width: 1.5;
  fill: none;
}
.line-yellow { 
  stroke: yellow;
  stroke-width: 1.5;
  fill: none;
}

.area-yellow {
  fill: yellow;
  opacity: 0.2
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}